<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if title %}
  <title>{{ title }} - {{ site.title }}</title>
  {% else %}
  <title>{{ site.title }}</title>
  {% endif %}
  {% if description %}
  <meta name="description" content="{{ description }}">
  {% endif %}

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#f75814">
  <meta name="apple-mobile-web-app-title" content="tonymottaz.com">
  <meta name="application-name" content="tonymottaz.com">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="theme-color" content="#ffffff">

  <meta name="generator" content="{{ eleventy.generator }}">

  <link rel="me" href="https://fosstodon.org/@tonymottaz">

  <link rel="alternate" type="application/rss+xml" title="RSS Feed for tonymottaz.com" href="/feed.xml">

  <link rel="preload" href="/font/Bitter-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/font/Bitter-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="/style/main.css">
</head>

<body>
  <a class="_screen-reader -focusable" href="#main">Skip to main content</a>

  <header>
    <div class="root-header">
      <div class="title">
        <a href="/" class="_subtle-link">Tony Mottaz</a>
      </div>
      <div class="nav">
        <nav>
          <ul class="nav-list _no-bullets">
            <li>
              <a href="/" class="_subtle-link">Home</a>
            </li>
            <li>
              <a href="/now" class="_subtle-link">Now</a>
            </li>
            <li>
              <a href="/feed.xml" class="_subtle-link">RSS</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <main id="main">
    <div class="root-main-layout prose">{{ content }}</div>
  </main>

  <footer class="root-footer">
    <h1 class="title"><a href="/" class="_subtle-link">Tony Mottaz</a></h1>

    <ul class="link-list _no-bullets">
      <li><a href="/about">About me</a></li>
      <!-- <li><a href="/resume">Resume</a></li> -->
      <!-- <li><a href="/contact">Contact me</a></li> -->
      <li><a href="/sitemap.xml">Site map</a></li>
      <li>The content on this site is
        <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>.
      </li>
      <li>The
        <a href="https://github.com/awmottaz/tonymottaz.com">code for this site</a>
        is
        <a href="https://github.com/awmottaz/tonymottaz.com/blob/main/LICENSE.txt">BSD-3-Clause</a>.
      </li>
    </ul>

    <ul class="link-list _no-bullets">
      <li><a href="https://fosstodon.org/@tonymottaz">Mastodon: @tonymottaz@fosstodon.org</a></li>
      <li><a href="https://www.linkedin.com/in/tony-mottaz/">LinkedIn</a></li>
    </ul>
  </footer>
</body>

</html>